{% include 'LoginHeader.html' %}
<html lang="en">
<!--<style>-->
<!-- input[type=submit]{-->
<!-- font-size: 13px;-->
<!--  border-radius: 20px;-->
<!--  padding: 12px 20px;-->
<!--  background-color: #00b4c6;-->
<!--  text-transform: uppercase;-->
<!--  color: #fff;-->
<!--  letter-spacing: 0.25px;-->
<!--  -webkit-transition: all 0.3s ease 0s;-->
<!--  -moz-transition: all 0.3s ease 0s;-->
<!--  -o-transition: all 0.3s ease 0s;-->
<!--  transition: all 0.3s ease 0s;-->
<!--}-->
<!--input[type=submit]:hover {-->
<!--  background-color: #0088e8;-->
<!--}-->
<!--</style>-->
<body>
<div align="center"  class="contact-form">
  <div class="container">
     <h2 style="color:white" ><strong>REGISTER</strong></h2><br><br>

                        <form id="form1" name="form1" method="post">
                          {% csrf_token %}

                              <table align="center" width="200" border="0" >
                                <tr>
                                  <td colspan="1" align="right">

                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                  <th style="color:white">Username&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                  <td><label for="uname"></label>
                                  <input type="text"  style="width:200px;" name="name" id="uname" align="center" class="form-control" required/></td>
                                </tr>
                                  <tr>
                                  <th style="color:white">Address&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                  <td><label for="uname"></label>
                                    <textarea placeholder="address" name="address" required></textarea>
                                </tr>
                                  <tr>
                                  <th style="color:white">Phone&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                  <td><label for="uname"></label>
                                  <input type="text" name="phone" id="uname" pattern="[6-9]{1}[0-9]{9}" align="center" class="form-control" required/></td>
                                </tr>
                                  <tr>
                                  <th style="color:white">Email&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                  <td><label for="uname"></label>
                                  <input type="email" name="email" id="uname" align="center" class="form-control" required/></td>
                                </tr>
                                <tr>
                                  <th style="color:white">Password&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                  <td><label for="passwd"></label>
                                  <input type="password" name="password" id="passwd" align="center" class="form-control" required/></td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <td><input style="color:#17a2b8;" name="login" type="submit" id="login" value="Register"  class="main-button-slider "/></td>
                                </tr>
                              </table>
                        </form>

  </div>
</div>

</body>

</html>
{% include 'PageFooter.html' %}