{% extends 'admin/index.html' %}
{% block content %}

<div class="card" style="min-height:550px;">
                  <div class="card-body">

                    <center>
                      <h2 class="card-title" style="text-transform: uppercase;">ADD DISTRICT</h2>
                    </center><br><br>
                      <div class="table-responsive">
                          <form  action="../adddistrict" method="post">
                              {% csrf_token %}
                      <table class="table">
                          <tr>
                              <th style="width:100px;">DISTRICT NAME</th>
                              <td><input type="text"  name="name"></td>
                          </tr>
                          <tr>
                              <th></th>
                              <td><input type="submit" value="save"></td>
                          </tr>
                      </table>
                          </form>
                    </div>
                  </div>
</div>
{% endblock %}